AWX_SERVICE_BASE_REST_URL="https://inhas76034.eu.boehringer.com"
AWX_SERVICE_USERNAME="CHANGEME"
AWX_SERVICE_PASSWORD="CHANGEME"
# Keep these: Azure AD client ID for local development only
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="21920dff-90ff-4b3e-997a-d9c2faf53feb"
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://21920dff-90ff-4b3e-997a-d9c2faf53feb"
COMPONENT_CATALOG_SERVICE_BASE_REST_URL="https://localhost:8080/v1"

SPRING_SECURITY_PROVISIONER_USERNAME=username
SPRING_SECURITY_PROVISIONER_PASSWORD=password

COMPONENT_CATALOG_PROVISIONER_USERNAME=<place-your-username-here>
COMPONENT_CATALOG_PROVISIONER_PASSWORD=<place-your-password-here>

CREATE_INCIDENT_WORKFLOW_ID=3361