AZURE_TOKEN_URL="https://login.microsoftonline.com/example-tenant/oauth2/v2.0/token"

AWX_SERVICE_BASE_REST_URL="https://inhas76034.eu.boehringer.com"
AWX_SERVICE_USERNAME="CHANGEME"
AWX_SERVICE_PASSWORD="CHANGEME"

# Keep these: Azure AD client ID for local development only
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="21920dff-90ff-4b3e-997a-d9c2faf53feb"
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://21920dff-90ff-4b3e-997a-d9c2faf53feb"

COMPONENT_CATALOG_SERVICE_BASE_REST_URL="https://localhost:8080/v1"

# Keep these: Azure AD client ID for DEV development only
#SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="6d81fd84-9b38-4aed-9403-ed95f6395cd7"
#SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://6d81fd84-9b38-4aed-9403-ed95f6395cd7"
#COMPONENT_CATALOG_SERVICE_BASE_REST_URL="https://component-catalog-devstack-dev.apps.eu-dev.ocp.aws.boehringer.com//v1"

# Spring Security
SPRING_SECURITY_PROVISIONER_USERNAME=username
SPRING_SECURITY_PROVISIONER_PASSWORD=password

COMPONENT_CATALOG_PROVISIONER_USERNAME=<place-your-username-here>
COMPONENT_CATALOG_PROVISIONER_PASSWORD=<place-your-password-here>

SENSITIVE_PARAMETERS_BLACKLIST=access_token,password,secret,token

CREATE_INCIDENT_WORKFLOW_ID=3361
MARKETPLACE_DEFAULT_PROVISION_WORKFLOW_ID=3855
PROVISION_WRAPPER_WORKFLOW_ID=3847
DELETION_WRAPPER_WORKFLOW_ID=3823

PROJECTS_INFO_SERVICE_BASE_REST_URL="https://projects-info-service-devstack-dev.apps.example.com/v1"
CACHING_PROJECTS_INFO_SERVICE_CACHE_EVICTION_INTERVAL=5s
CACHING_PROJECTS_INFO_SERVICE_CACHE_MAX_SIZE=100MB

ODS_API_SERVICE_ENABLED=true
ODS_API_SERVICE_SERVICE_PARAMS_OVERRIDE="project_flavour"
ODS_API_SERVICE_SERVICE_BASE_REST_URL="https://localhost:8081/v1"
DEVSTACK_MARKETPLACE_API_CLIENT_ID="client-id"
DEVSTACK_MARKETPLACE_API_CLIENT_SECRET="client-secret"
ODS_API_SERVICE_SERVICE_PARAMS_SCOPE="scope"

DEVSTACK_MARKETPLACE_API_SCOPE="api://example/.default"