AWX_SERVICE_BASE_REST_URL="https://some-awx-rest-base-url.com"
AWX_SERVICE_USERNAME="CHANGEME"
AWX_SERVICE_PASSWORD="CHANGEME"
# Keep these: Azure AD client ID for local development only
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="21920dff-90ff-4b3e-997a-d9c2faf53feb"
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://21920dff-90ff-4b3e-997a-d9c2faf53feb"
COMPONENT_CATALOG_SERVICE_BASE_REST_URL="https://localhost:8080/v1"